<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<nav>

	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Ask</a></li>
		<li class="btn"><a href="">Create</a></li>
		<li class="btn"><a href="">View</a></li>
		<li class="btn"><a href="">Log Out</a></li>
	</ul>
</nav>
<div class="create-div">
	<form>
		<h2><i>How would you like to create your bucketlist?</i></h2>
		<label for="name">Title</label><br>
		<input type="text" name="name"><br>
		<br>
		<caption>Description</caption><br>
		<textarea name="Description" cols="70" rows="10"></textarea>
		<br>
		<button class="btn1">Submit BucketList</button>
	</form>
</div>
<footer>
	<p>Copyright &copy; 2017 <br>Created by Gidraff Karanja</p>
</footer>
</body>
</html>