<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<nav>

	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Ask</a></li>
		<p><i>What do you wish to do?</i></p>
		<li class="btn"><a href="">Login</a></li>
		<li class="btn"><a href="">Register</a></li>
	</ul>
</nav>

<div class="view-dash">
	<button>List of To Dos</button>
	<div class="bl-item">
		<a href="">BucketList 1</a>
	</div>
</div>

<footer>
	<p>Copyright &copy; 2017 <br>Created by Gidraff Karanja</p>
</footer>
</body>
</html>