<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<nav>

	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Ask</a></li>
		<p><i>What do you wish to do?</i></p>
		<li class="btn"><a href="">Login</a></li>
		<li class="btn"><a href="">Register</a></li>
	</ul>
</nav>


<div class="reg-div">
	<form>
		<label>First Name</label><br>
		<input type="text" name=""><br>
		<label>Last  Name</label><br>
		<input type="text" name=""><br>
		<label>Password </label><br>
		<input type="password" name="password"><br>
		<label>Confirm password</label><br>
		<input type="password" name=""><br>
		<p><i>already have an account?</i><a href="">login</a></p>
		<button>Register</button>
	</form>
</div>





<footer>
	<p>Copyright &copy; 2017 <br>Created by Gidraff Karanja</p>
</footer>
</body>
</html>