nav {
	background-color: grey;
	border-radius: 3px;
	padding: 5px;
	width: 100%;
	text-align: center;

}

.logo {
	padding-top: 0;
	text-align: left;
	clear: both;
}

body {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.base-class {
	float:right;
}

.btn {
	float: right;
	background-color: #006600;
	padding: 5px;
	border-radius: 10px;
	margin: 3px;
}

.btn1 {
	background-color: #006600;
	color: white;
	padding: 15px;
	border-radius: 5px;
}

.submit-btn {
	margin-top: 1%;
}

nav ul {
	padding-bottom: 0;
	text-align: right;
}

nav ul p {
	display: inline;
	clear: right;

}
nav ul li {
	display: inline-block;
	padding: 0;

}

nav ul li a {
	
	text-decoration: none;
	color: #f6f6f6;
	padding:0 5px 0 5px;
	border-radius: 5px;

}

.div-main {
	color: #b30000;
	text-align: center;
	background-image: url("img/bucketlist.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;

}

.div-main p {
	padding: 0 0 10px 0;
}

.reg-div {
	text-align: center;
	margin: 7% 20% 7% 20%;
}

.reg-div form {
	background-color: #F7ECE3;
	padding: 55px;
}

.reg-div form a {
	text-decoration: none;
}

.reg-div form label {
	font-family: fantasy;
}

.reg-div form input {
	width: 20%;
	padding: 10px;
	border-radius: 5px;
	box-shadow:rosybrown; 
}

.deep-div {
	padding: 4%;
	background-color: bisque;
	text-align: center;
}

table td {
	padding: 4px;
}

table {
	padding-left: 35%;
	}


.login-div {
	text-align: center;
	margin: 0 20px 0 20px;
}

.login-div form {
	background-color: #F7ECE3;
	padding: 120px;
}

.login-div form a {
	text-decoration: none;

}

.login-div form input {
	width: 20%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 
}


.create-div {
	text-align: center;
	margin: 0 20px 0 20px;

}

.create-div form {
	background-color: #F7ECE3;
	padding: 80px;
}

.create-div form h2 {
	color: blue;
}

.create-div form input {
	padding: 10px;
}
.view-dash {
	text-align: center;
	background-color: #F7ECE3;
	padding: 80px;
}

.view-dash h1 {
	color: blue;
}


footer  {
	background-color: #4d4d4d;
	position: relative;
	bottom: 0px;
	width: 100%;
	left: 0%;
	border-radius: 3px;
	text-align: center;
	padding: 50px 0px 50px 0px!important;
}
