nav {
	background-color: grey;
	border-radius: 3px;
	padding: 5px;
	text-align: center;

}

.btn {
	float: right;
	background-color: #006600;
	padding: 5px;
	border-radius: 10px;
	margin: 3px;
}

.btn1 {
	background-color: #006600;
	color: white;
	padding: 15px;
	border-radius: 5px;
}

nav ul {
	padding: 0;
	text-align: left;
}

nav ul p {
	display: inline;
	clear: right;

}
nav ul li {
	display: inline-block;
	padding: 5px;

}

nav ul li a {
	
	text-decoration: none;
	color: #f6f6f6;
	padding: 5px;
	border-radius: 5px;

}

.div-main {
	color: #b30000;
	text-align: center;
	background-image: url("img/bucketlist.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;

}

.div-main p {
	padding: 0 0 10px 0;
}

.reg-div {
	text-align: center;
	margin: 0 20px 0 20px;
}

.reg-div form {
	background-color: #F7ECE3;
	padding: 55px;
}

.reg-div form a {
	text-decoration: none;
}

.reg-div form label {
	font-family: fantasy;
}

.reg-div form input {
	width: 20%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 
}



.login-div {
	text-align: center;
	margin: 0 20px 0 20px;
}

.login-div form {
	background-color: #F7ECE3;
	padding: 120px;
}

.login-div form a {
	text-decoration: none;

}

.login-div form input {
	width: 20%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 
}


footer  {
	background-color: #4d4d4d;
	border-radius: 3px;
	text-align: center;
}

footer p {
	padding: 25px 0 25px 0;
}