{% extends "layout.html" %}
{% block title %}Create Bucketlist{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="create-div">
	<form>
		<h2><i>How would you like to create your bucketlist?</i></h2>
		<label for="name">Title</label><br>
		<input type="text" name="name"><br>
		<br>
		<caption>Description</caption><br>
		<textarea name="Description" cols="70" rows="10"></textarea>
		<br>
		<button class="btn1">Submit BucketList</button>
	</form>
</div>
{% endblock %}