{% extends "layout.html" %}
{% block title %}DashBoard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="view-dash">
	<h1>This is a Dashboard</h1>
	{% if bucketlists %}
	<table>
		<thead>
			<tr>
				<td><b>Title</b></td><br><br>
				<td><b>Description</b></td>
				<td><b>Actions</b></td>
			</tr>
		</thead>
		<tbody>
		{% for bucket in bucketlists.values() %}
			<tr>
				<td>{{ bucket.title }}</td>
				<td> {{ bucket.description }}</td>
				<td>
					<form action="{{ url_for('delete_bucketlist', id=bucket.id ) }}" method="post">
						<input type="submit" value="Delete">
					</form>
				</td>
				<td>
					<form action="/edit_bucketlist/{{ bucket.id }}" method="get">
						<input type="submit" value="Edit">
					</form>
				</td>
			</tr>
		{% endfor %}
		<a href="/createbl"><button>Add</button></a>
		</tbody>	
	</table>
	{% else %}
		No bucketlist available
		<a href="/createbl"><button>Add</button></a>

	{% endif %}
</div>
{% endblock %}