{% extends "layout.html" %}
{% block title %}DashBoard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="view-dash">
	<h1><i>BucketList Available </i></h1>
	<ul class="list-group">
		<li class="list-group-item">First BucketList</li>
		<li class="list-group-item">Second BucketList</li>
		<li class="list-group-item">Third BucketList</li>
	</ul>
	<button class="btn1">Add BucketList</button>
	<button class="btn1">Delete BucketList</button>
</div>
{% endblock %}