<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/main.css') }}">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% includes 'include/_navbar.html' %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by Gidraff Karanja.
        {% endblock %}
        </div>
    </body>
</html>