<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<nav>

	<ul>
		<li><a href="{{ url_for('index') }}">Home</a></li>
		<li><a href="{{ url_for('about') }}">About</a></li>
		<li><a href="{{ url_for('ask') }}">Ask</a></li>
		<li class="btn"><a href="/register">Register</a></li>
	</ul>
</nav>
<div class="login-div">
	<form action="/login" method='post'>
		<label>email:</label><br>
		<input type="text" name="user_email"><br>
		<label>password:</label><br>
		<input type="password" name="user_password"><br>
		<p><a href="">forgot password?</a></p>
		<br>
		<input class="btn1" type="submit" value="login">

	</form>
</div>

<footer>
	<p>Copyright &copy; 2017 <br>Created by Gidraff Karanja</p>
</footer>
</body>
</body>
</html>