{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="reg-div">
	<form>
		<label>First Name</label><br>
		<input type="text" name=""><br>
		<label>Last  Name</label><br>
		<input type="text" name=""><br>
		<label>Password </label><br>
		<input type="password" name="password"><br>
		<label>Confirm password</label><br>
		<input type="password" name=""><br>
		<p><i>already have an account?</i><a href="">login</a></p>
		<button class="btn1">Register</button>
	</form>
</div>
{% endblock %}