<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<nav>

	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Ask</a></li>
		<li class="btn"><a href="">Create</a></li>
		<li class="btn"><a href="">View</a></li>s
		<li class="btn"><a href="">Login</a></li>
	</ul>
</nav>


<div class="reg-div">
	<form action="{{ url_for('reister')}}" methods="post">
		<label>username</label><br>
		<input type="text" name="username"><br>
		<label>email</label><br>
		<input type="email" name="email"><br>
		<label>Password </label><br>
		<input type="password" name="password"><br>
		<label>Confirm password</label><br>
		<input type="password" name="confirm_paasword"><br>
		<input class="btn1" type="submit" name="Register">
	</form>
</div>





<footer>
	<p>Copyright &copy; 2017 <br>Created by Gidraff Karanja</p>
</footer>
</body>
</html>